*.pyc
*.pyc
/Step0_patchC3Dlabels/outputs/fixEMG_walk_20260129_214603/global
/Step0_patchC3Dlabels/outputs/fixEMG_walk_20260129_214603/global
/Step0_patchC3Dlabels/outputs/fixEMG_walk_20260129_214603/mapping
